#root {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chatsBar .navbar {
  flex-wrap: nowrap;
}
.navbar {
  flex-wrap: inherit;
}

.search-input {
  width: 80%;
  border-radius: 5px;
}

.btn:hover {
  color: rgb(151, 151, 151);
  font-weight: bold;
  background: 0;

  background-color: 0;
  border-color: rgb(185, 217, 225);
  border-width: 0;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.content {
  flex: 1;
  padding: 20px;
}

.time {
  font-size: x-small;
  float: right;
}

.card-title {
  padding-inline-start: 40%;
  font-size: xx-large;
}

.card-body {
  flex: 0;
  padding: 0;
}

.btn {
  color: rgba(0, 0, 0, 0.896);
  font-weight: bold;
  background: 0;

  background-color: 0;
  border-color: rgb(185, 217, 225);
  border-width: 0px;
  --bs-btn-active-bg: rgb(248, 245, 245);
  --bs-btn-active-border-color: rgb(185, 217, 225);
}

#logout-btn {
  background-color: rgb(240, 88, 88);
}

#logout-btn:hover {
  color: black;
  background-color: rgb(243, 35, 35);
}

#add-btn {
  background-color: rgb(98, 151, 251);
}

#add-btn:hover {
  color: black;
  background-color: rgb(60, 85, 246);
}

#close-btn {
  background-color: rgb(143, 144, 146);
}

#close-btn:hover {
  color: black;
  background-color: rgb(134, 134, 135);
}

#toast-container {
  position: fixed;
  left: 20px;
  bottom: 20px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 100;
}
.toast-body {
  color: black;
}

.toast-header {
  size: 100%;
  width: 100%;
}

.btn-group {
  float: right;
  padding-bottom: 10px;
}

.toast:not(.show) {
  display: flex;
}

.btn-text {
  font-size: large;
}
/*
.form-control {
  width: inherit;
}
*/

.chatbox {
  width: 80%;
  background-color: rgb(224, 239, 253);
  display: flex;
  flex-direction: column; /* set flex direction to column */
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.side-bar {
  width: 100%; /* adjust width of side bar */
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: calc(80vh + 60px);
}

.text {
  height: 100%;
  max-height: 80vh;
  scroll-behavior: auto;
  overflow-y: scroll;
}

.content {
  flex: 1;
  padding: 20px;
}

/* width and color */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(224, 239, 253);
}

/* handle */
::-webkit-scrollbar-thumb {
  background-color: #98c3c8;
  border-radius: 20px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #79c5de;
}

.list-group-item.active {
  z-index: 20;
  color: #fff;
  background-color: #75aaf7;
  border-color: #b9d3fa;
}

.search:disabled {
  visibility: hidden;
}

.list-group-item {
  padding: 20%;
  padding-left: 5%;
  padding-right: 10%;
  font-size: 14px;
}

.msg-bar {
  padding-left: 3px;
  display: flex;
  flex-wrap: initial;
}

.top-bar {
  --bs-gutter-x: 0;
}

.chats {
  background-image: url("backgroundchat.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  --bs-gutter-x: 0;
}

.input-text {
  width: 98%;
  height: 60px;
}

.sendMsg {
  flex-wrap: inherit;
}

#send-btn {
  background-color: rgb(224, 239, 253);
}

.contactName {
  width: 90%;
  font-weight: bold;
}

.chat-container {
  display: flex;
  flex-direction: column;
}

.chat-bubble {
  max-width: 70%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  word-break: break-word;
}

#profie-img-showcase {
  height: 30vh;
}
.chat-bubble.sent {
  align-self: flex-start;
  background-color: #007bff;
  color: white;
}

#profile-tab {
  background-color: rgb(224, 239, 253);
}

.recived {
  max-width: 70%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  word-break: break-word;
  align-self: flex-end;
  background-color: #47d47d;
  color: rgb(255, 255, 255);
}

.searchChat {
  float: right;
  padding-right: 20px;
}

.logout {
  padding-top: 10px;
}

.sendMsg {
  padding-top: 10px;
  padding-bottom: 10px;

  border: 0;
  border-left-width: 2px;
  border-style: ridge;
}

.profileImage {
  height: 55px;
  padding: 5px;
}

.chatsBar {
  border: 0;
  border-right-width: 2px;
  border-bottom-width: 2px;

  border-style: ridge;
}

#message-input {
  border-radius: 5px;
  width: 90%;
  margin-left: 10px;
}

.unreadMessages {
  font-size: 0.95em;
  background-color: #75aaf7;
}

.active .unreadMessages {
  background-color: rgb(224, 239, 253);
  color: #75aaf7;
}

.valid {
  color: #47d47d;
}

.invalid {
  color: red;
}
.selected {
  color: black;
}

.notification {
  padding: 0;
  margin: 0;
  padding-left: 5px;
  float: right;
}

.deleteButton {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 0;
}

.logoNotification {
  height: 40px;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 5px;
  position: relative;
}

.toast-header .time {
  margin-left: auto;
  float: right;
}

.toast-header .textNotification {
  margin: 0;
  float: left;
  font-weight: bold;
  color: black;
}
