body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(235, 235, 235, 0.923);
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;


}

.form-control {
    width: 400px;
    align-items: center;
}

.submit-btn {
    height: 40px;
    color: aliceblue;
    font-weight: bold;
    background-color: rgb(59, 168, 180);
    border-color: rgb(185, 217, 225);
    border-width: 4px;
    border-radius: 10px;
    border-style: double;
}

.submit-btn:hover {
    color: aliceblue;
    font-weight: bold;
    background-color: rgb(237, 189, 189);
    border-color: rgb(185, 217, 225);
    border-width: 4;
}

.submit-btn:active {
    background-color: rgb(237, 189, 189);
    border-color: rgb(241, 148, 148);
}

.divImage {
    z-index: 1;
    height: 58px;
    background-color: white;
    border-radius: 10px;
    border-width: 0;
    padding: 0;
}



.logo {
    margin: 10px;
    align-items: center;
    position: relative;
    margin-left: 90px;
}

.alert {
    font-size: 12px;
    margin: 2px;
    padding: 2px;
    color: red;
    display: none;
}

input:invalid[focused="true"]~.alert {
    display: block;

}


#login-card {
    background-color: transparent;
    border: 0;
}