.logo {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.search-icon :hover {
  color: rgb(88, 88, 88);
}

.chat-container {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-container:hover {
  background-color: #f0f0f0;
}

.selected-chat {
  background-color: #f0f0f0;
}
