.logo {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.search-button {
  background: rgba(252, 211, 254, 1);
}

.search-button :hover {
  background: rgba(121, 242, 248, 1);
}

.chat-container {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-container:hover {
  background-color: #f0f0f0;
}

.selected-chat {
  background-color: #f0f0f0;
}

.online {
  color: green;
}

.offline {
  color: red;
}
