body {
  background: rgb(121, 242, 248);
  background: linear-gradient(
    90deg,
    rgba(121, 242, 248, 0.6) 0%,
    rgba(252, 211, 254, 0.6) 34%,
    rgba(255, 206, 236, 0.6) 61%,
    rgba(252, 211, 254, 0.6) 71%,
    rgba(121, 242, 248, 0.6) 100%
  );
}

/* Style for the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Change width as needed */
}

/* Style for the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
  border-radius: 10px; /* Rounded corners */
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Default thumb color */
  border-radius: 10px; /* Rounded corners */
}

/* Style for thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker thumb color on hover */
}
