body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  background-color: #dcf2f5;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #dcf2f5 40px ), repeating-linear-gradient( #7bdee055, #7bdee0 );
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

